.portfolio li {
    display: inline-block;
    border: 0.25em solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.portfolio img {
    width: 100%;
}
